:root {
    --Text-Primary: #1e1e1e;
    --Text-Secondary: #363636;
    --Text-on-Colour: white;
    --Brand-Colour: #F16244;
    --Secondary-Text-on-Colour: #FFC300;
    --BG-Primary: #C70039;
    --BG-Secondary: #900C3F;
    --Border-Primary: #D5B336
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: EatingPasta;
    src: url("eating-pasta/Eating\ Pasta.otf");
}

html,
body {
    margin: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.site-header {
    width: 100%;
    padding: 12px 0;
    position: relative;
    background: var(--Brand-Colour);
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.site-header .logo {
    font-family: EatingPasta;
    text-decoration: none;
    font-weight: 700;
    color: var(--Text-Primary);
    font-size: 1.25rem;
}

.site-header .nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
}

.site-header .nav-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.site-header .nav-link i {
    line-height: 1;
    vertical-align: middle;
    font-size: 1.25rem;
}

.hero {
    display: flex;
    align-items: center;
    background-color: var(--Brand-Colour);
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    flex: 1;
    background-color: var(--BG-Secondary);
    padding: 3rem; /* vertical padding */
    color: var(--Secondary-Text-on-Colour);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text h1 {
    font-family: EatingPasta;
    font-size: 4rem;
    margin: 0;
    line-height: 1;
}

.hero-text h3 {
    font-family: EatingPasta;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.hero-text p {
    margin-top: 0;
    margin-bottom: 2rem;
}

.btn-primary {
    font-family: EatingPasta;
    background-color: var(--BG-Primary);
    color: var(--Secondary-Text-on-Colour);
    padding: 1rem 2rem;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


